*
    margin 0
    padding 0
    box-sizing border-box
    font-family 'Manrope'

@import "./vars.styl";
@import "./fonts.styl";

.main
    width 100%
    height 100vh
    overflow hidden
    display flex
    justify-content center
    align-items center
    text-align center
    background-color $dark-blue

    .card
        width 90%
        height auto
        background-color $dark-grayish-blue
        border-radius 20px
        display inherit
        flex-direction column
        align-items center
        padding-top 1rem
        @media screen and (min-width 1440px)
            width 30%

        .wp-text
            margin 1rem auto .5rem
            padding 0 1.5rem
            h4
                color $neon-green
                padding 10px 0
                letter-spacing 5px
                text-transform uppercase
            h2
                color $light-cyan
                padding 10px 0 20px
                font-size 28px
                font-weight 800
            .separator
                img
                    margin auto
                    width 100%
                    @media screen and (min-width 800px) and (max-width 1440px)
                        width 80%

    .wp-circleRandom
        margin 1rem auto
        width 100%
        height 2rem
        position relative
    .circleRandom
        width: 60px
        height: 60px
        cursor pointer
        position absolute
        border none
        bottom -2.8em
        left 0
        right 0
        margin-right auto
        margin-left auto
        background-color: $neon-green
        border-radius 3rem
        display flex
        justify-content center
        align-items center
        transition all .5s ease-out
        &:hover
            box-shadow 0 0 40px 0px $neon-green

.hidden-mobile
    @media screen and (max-width: 550px)
        display none !important
.hidden-desktop
    @media screen and (min-width 551px)
        display none !important

.show-mobile
    @media screen and (max-width 550px)
        display block !important
.show-desktop
    @media screen and (min-width 1224px)
        display block
